nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    background-color: aquamarine;
}

.vedi_and_mg{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form_frame{
    width: 50%;
    height: auto;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}

/* nested menu styles 
 */

nav li .dropdwon{

    display: none;
    position: absolute;
    background-color: cornflowerblue;
    padding-left: 20px;
}
nav li:hover > .dropdwon{
    display: block;
}

